body {
  background-image: linear-gradient(
    225deg,
    #a9d9ff 0,
    #68a3ff 25%,
    #236ddb 50%,
    #003b87 75%,
    #000e3f 100%
  );
}

#root {
  width: 100vw;
  padding-left: 75px;
}

/*////ASIDE////*/

.mynavbar {
  width: 75px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  transition: 1s ease-out;

  z-index: 400;
}

.mynavbar__container {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  border-top: solid 2px rgba(255, 255, 255, 0.18);
  border-bottom: solid 2px rgba(255, 255, 255, 0.18);
  border-right: solid 2px rgba(255, 255, 255, 0.18);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navbar__container:hover {
  border-radius: 3px solid white;
}

.bgd-transparent {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.15);
  border: solid 2px rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4px);
}

.mynavbar:hover {
  width: 370px;
}

.navbar__container {
  width: 660px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  height: 47px;
  box-sizing: border-box;
  border-radius: 1rem;
  transition: 0.3s;
}

.navbar__container i {
  font-size: 35px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.navbar__container:hover i {
  transform: scale(1.2);
}

.navbar__container:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

.mynavbar p {
  display: inline-block;
  color: aliceblue;
  margin-left: 24px;
  margin-bottom: 0;
}

/*/////*/

/*////project-card///*/

.projectCard__img {
  object-fit: cover;
  filter: brightness(0.7);
  transition: 0.5s;
  cursor: pointer;
}

.projectCard__img:hover {
  filter: brightness(1);
  transform: scale(1.05);
}

.projectCard__gitIcon {
  height: 2.3rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: 0.3s;
}

.projectCard__gitIcon:hover {
  transform: scale(1.2);
}
