.typewritter {
  width: 13ch;
  animation: typing 8s steps(13) forwards infinite alternate,
    blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 13ch;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
