.skills {
  width: 100%;
  color: whitesmoke;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  min-height: 45vh;
}

.skills__container {
  width: 800px;
  display: flex;
  justify-content: center;
}

.icono {
  color: #eee;
  font-size: 90px;
  transition: all 0.3s ease;
  padding: 15px;
}

.icono:hover {
  transform: scale(1.2);
}

.icono:hover.html {
  color: #e34c26;
}
.icono:hover.css {
  color: #264de4;
}
.icono:hover.js {
  color: #f0db4f;
}
.icono:hover.react {
  color: #61dbfb;
}
.icono:hover.nodejs {
  color: #68a063;
}
.icono:hover.bootstrap {
  color: #553c7b;
}
.icono:hover.tailwind {
  color: #0ab0fd;
}
.icono:hover.github {
  color: #fff;
}
.icono:hover.git {
  color: #f1502f;
}
.icono:hover.firebase {
  color: #ffcb2b;
}
.icono:hover.sass {
  color: #cc6699;
}

.skills__proyects-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1000px;
  margin-top: 50px;
}

.skills__proyects {
  background-color: #222;
  width: 470px;
  height: 700px;
}
